<form action="/gallery/{{id}}?_method=PUT" method="post">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" value="{{author}}">
    <label for="link">Link</label>
    <input type="text" name="link" id="link" value="{{link}}">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="{{description}}">
    <button id="submit">Submit</button>
</form>